<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aboutus</title>
</head>
<body>
<h2>This is my about us page</h2>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium fuga ipsam libero rem sapiente. Architecto assumenda doloribus eius incidunt necessitatibus, nostrum qui ratione voluptatibus! Blanditiis ducimus labore nobis nostrum quod.</span><span>Cum cumque distinctio dolorem doloremque incidunt molestiae, officia quae suscipit. Deserunt distinctio dolor fugit laudantium mollitia nisi! Facilis harum labore nobis quos reiciendis rem! Explicabo laudantium molestias praesentium quia temporibus!</span><span>Accusantium aperiam aspernatur blanditiis debitis enim esse harum in ipsam itaque mollitia non obcaecati officia officiis possimus, praesentium quas quis quisquam repellendus reprehenderit sunt. Earum illo inventore iste odio vitae.</span><span>Accusantium ad cum deserunt dolores doloribus eaque earum est facilis fuga id illo incidunt iste, itaque, laudantium magnam neque nesciunt nobis
    nostrum praesentium quam quidem sed ullam vel voluptas voluptatibus?</span></p>
<img src="{% static 'img/moon4' %}" alt="">

</body>
</html>
